:root {
  /* fonts */
  --font-baloo-bhaina: "Baloo Bhaina";
  --font-athiti: Athiti;
  --font-share-tech-mono: "Share Tech Mono";
  --font-josefin-sans: "Josefin Sans";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-81xl: 100px;
  --font-size-131xl: 150px;
  --font-size-17xl: 36px;
  --font-size-13xl: 32px;
  --font-size-109xl: 128px;

  /* Colors */
  --color-white: #fff;
  --color-goldenrod: #ffc553;
  --color-black: #000;
  --color-violet: #ff93e7;
  --color-mediumseagreen-100: #41bc64;
  --color-mediumorchid: #c76bff;
  --color-sandybrown: #ff9b52;
  --color-mistyrose: #ffe3e3;
  --color-plum: #b38eca;
  --color-hotpink: #ff53ba;
  --color-blueviolet: #9747ff;

  /* Gaps */
  --gap-60xl: 79px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-8xs: 5px;

  /* border radiuses */
  --br-8xs: 5px;
}

body {
  margin: 0;
  line-height: normal;
  
}

img {
  cursor: pointer;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 100%;
  max-height: 100%;
  padding: 4px;
}
