.backround {
  position: absolute;
  height: calc(100% - 3px);
  width: calc(100% + 2px);
  top: 3px;
  right: -3px;
  bottom: 0;
  left: 1px;
  background: linear-gradient(
    109.44deg,
    rgba(254, 218, 140, 0.5),
    rgba(255, 155, 99, 0.5) 50%,
    rgba(255, 106, 146, 0.5)
  );
}
.kraft-paper-texture,
.upper-background {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.kraft-paper-texture {
  height: calc(100% + 355.78px);
  width: calc(100% - 364.43px);
  top: 8.44px;
  right: -1304.8px;
  bottom: -364.22px;
  left: 1669.23px;
  max-height: 100%;
  display: none;
}
.upper-background {
  width: calc(100% - 4px);
  top: 3px;
  right: 0;
  left: 4px;
  height: 181px;
}
.upper-line {
  position: absolute;
  width: calc(100% + 6px);
  top: 183.44px;
  right: -2px;
  left: -4px;
  border-top: 4px solid var(--color-black);
  box-sizing: border-box;
  height: 4px;
}
.button-instagram-icon {
  position: absolute;
  top: 46px;
  right: 65px;
  width: 98px;
  height: 97px;
  overflow: hidden;
  cursor: pointer;
}
.mediendesign-ist-mein,
.portfolio-haupttext {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.portfolio-haupttext {
  width: 651px;
  height: 129px;
  -webkit-text-stroke: 3px #000;
}
.mediendesign-ist-mein {
  font-size: var(--font-size-13xl);
  font-family: var(--font-josefin-sans);
  color: var(--color-black);
  width: 646px;
  height: 220px;
}
.text {
  position: absolute;
  top: 328.96px;
  left: 122px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-60xl);
}
.property-1kontakt-button-hint {
  position: absolute;
  top: 30px;
  left: 32px;
  width: 207px;
  height: 64px;
}
.kontakt {
  position: relative;
}
.kontakt-wrapper,
.property-1kontakt-button {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.property-1kontakt-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 207px;
  height: 61px;
  align-items: center;
  justify-content: center;
}
.button-kontakt {
  position: absolute;
  top: 48.96px;
  left: 359px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 259px;
  height: 114px;
  overflow: hidden;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.property-1buttom-1-hintergrun {
  position: absolute;
  top: 30px;
  left: 33px;
  width: 207px;
  height: 64px;
}
.projekte {
  position: relative;
  font-size: var(--font-size-17xl);
  font-family: var(--font-share-tech-mono);
  color: var(--color-black);
  text-align: left;
}
.kontakt-button {
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 207px;
  height: 61px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.property-1kontakt-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.property-1kontakt-button1:hover .projekte {
  color: var(--color-plum);
}
.button-projekte,
.hintergrund-foto {
  position: absolute;
  box-sizing: border-box;
}
.button-projekte {
  top: 48.96px;
  left: 92px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  width: 260px;
  height: 114px;
  overflow: hidden;
}
.hintergrund-foto {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-plum);
  border: 3px solid var(--color-black);
}
.property-1hintergrund-foto {
  position: absolute;
  top: 44px;
  left: 42px;
  width: 416px;
  height: 557px;
}
.fotoo {
  position: relative;
  width: 399px;
  height: 552px;
  flex-shrink: 0;
}
.property-1foto {
  position: absolute;
  top: 20px;
  left: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(
      -25.35deg,
      #ffaf50 26.31%,
      #ffe5c7 47.8%,
      #ffddb5 68.78%,
      #ff88a2
    );
  border: 4px solid var(--color-black);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  align-items: center;
  justify-content: center;
}
.foto {
  position: absolute;
  top: 561px;
  left: 1107px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 478px;
  height: 621px;
  overflow: hidden;
}
.desktop-6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1310px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-109xl);
  color: var(--color-plum);
  font-family: var(--font-share-tech-mono);
}
