@keyframes shake-horizontal {
  0%,
  to {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
.portfolio-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-violet);
}
.text {
  position: absolute;
  height: 10.32%;
  width: 63.61%;
  top: 59.6%;
  left: 18.13%;
  text-align: center;
  display: inline-block;
}
.portfolio1 {
  top: calc(50% - 112px);
  left: calc(50% - 329.76px);
  width: 686px;
  height: 178px;
}
.portfolio1,
.portfolio2,
.portfolio3 {
  position: absolute;
  display: inline-block;
  -webkit-text-stroke: 2px #000;
}
.portfolio2 {
  top: calc(50% - 100px);
  left: calc(50% - 316.76px);
  color: var(--color-mediumorchid);
  width: 673px;
  height: 189px;
}
.portfolio3 {
  width: 673px;
  top: calc(50% - 89px);
  left: calc(50% - 302.76px);
  color: var(--color-mediumseagreen-100);
  height: 190px;
}
.pcloud4-icon,
.pcloud5-icon,
.pcloud6-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pcloud5-icon,
.pcloud6-icon {
  top: 0;
}
.pcloud6-icon {
  height: 66.13%;
  width: 14.11%;
  right: 0;
  bottom: 33.87%;
  left: 85.89%;
}
.pcloud5-icon {
  height: 75.82%;
  width: 21.19%;
  right: 78.81%;
  bottom: 24.18%;
  left: 0;
}
.pcloud4-icon {
  height: 48.39%;
  width: 12.89%;
  top: 51.61%;
  right: 56.45%;
  bottom: 0;
  left: 30.66%;
}
.cloud-group2 {
  position: absolute;
  top: 72px;
  left: -0.8px;
  width: 737px;
  height: 62px;
  opacity: 1;
}
.cloud-group2.animate {
  animation: 25s linear 0s infinite normal forwards shake-horizontal;
}
.pcloud1-icon,
.pcloud1-icon1,
.pcloud2-icon,
.pcloud3-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pcloud3-icon {
  height: 31.19%;
  width: 15.7%;
  top: 0;
  right: 54.05%;
  bottom: 68.81%;
  left: 30.25%;
}
.pcloud2-icon {
  height: 26.11%;
  width: 13.91%;
  top: 73.89%;
  right: 86.09%;
  bottom: 0;
  left: 0;
}
.pcloud1-icon {
  height: 35.03%;
  width: 18.54%;
  top: 38.85%;
  right: 0.21%;
  bottom: 26.11%;
  left: 81.25%;
}
.pcloud1-icon1 {
  top: 38.85%;
  height: 34.74%;
  width: 19%;
  right: 0;
  bottom: 26.41%;
  left: 81%;
  display: none;
}
.cloud-group1 {
  position: absolute;
  top: 57px;
  left: 72.2px;
  width: 819.72px;
  height: 157px;
  opacity: 1;
}
.cloud-group1.animate {
  animation: 20s linear 0s infinite normal forwards shake-horizontal;
}
.portfolio4 {
  position: absolute;
  top: calc(50% - 77px);
  left: calc(50% - 290.76px);
  color: var(--color-goldenrod);
  display: inline-block;
  width: 673px;
  height: 189px;
  -webkit-text-stroke: 2px #000;
}
.portfolio-and-clouds {
  position: absolute;
  top: calc(50% - 179.5px);
  left: calc(50% - 433.2px);
  width: 891.92px;
  height: 224px;
  font-size: var(--font-size-131xl);
  color: var(--color-sandybrown-100);
  font-family: var(--font-baloo-bhaina);
}
.instagram-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.instagram-button-inner,
.instagram-button-item {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instagram-button-item {
  height: 50%;
  width: 50%;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
}
.instagram-button-inner {
  height: 5.36%;
  width: 5.36%;
  top: 16.07%;
  right: 16.07%;
  bottom: 78.57%;
  left: 78.57%;
}
.instagram-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 44px;
  right: 105px;
  width: 51px;
  height: 51px;
}
.instagram-button:hover .instagram-button-child,
.instagram-button:hover .instagram-button-item,
.kontakt-button:hover,
.posters:hover,
.produktionsdesign:hover,
.projekte-button:hover {
  background-color: var(--color-goldenrod);
}
.projekte {
  position: relative;
  font-size: var(--font-size-17xl);
  font-family: var(--font-athiti);
  color: var(--color-black);
  text-align: left;
}
.kontakt-button,
.projekte-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
}
.projekte-wrapper {
  align-items: flex-start;
  justify-content: flex-start;
}
.kontakt-button {
  cursor: pointer;
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  position: absolute;
  top: 44px;
  left: 355px;
  box-sizing: border-box;
  width: 175px;
  height: 51px;
  align-items: center;
  justify-content: center;
}
.projekte1 {
  position: relative;
}
.kontakt-button-button,
.posters {
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  box-sizing: border-box;
  width: 175px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.kontakt-button-button {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--color-black);
  height: 51px;
}
.posters {
  cursor: pointer;
  border: 0;
  border-right: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  height: 36px;
  flex-shrink: 0;
}
.produktdesign {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-athiti);
  color: var(--color-black);
  text-align: left;
}
.produktionsdesign {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-white);
  border-right: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  border-left: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 175px;
  height: 47.06px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  padding: 51px 0 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.projekte-button {
  position: absolute;
  top: 44px;
  left: 102px;
  width: 175px;
  height: 51px;
  font-size: var(--font-size-17xl);
}
.projekte-button:hover .dropdown {
  display: flex;
}
.ber-mich1,
.portfolio {
  position: relative;
  flex-shrink: 0;
}
.portfolio {
  align-self: stretch;
  height: 911px;
  text-align: left;
}
.ber-mich1 {
  display: inline-block;
  width: 474px;
  height: 129px;
  -webkit-text-stroke: 2px #000;
}
.hallo-mein-name {
  margin: 0;
}
.hallo-mein-name-container {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ber-mich-text-holder,
.frame-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ber-mich-text-holder {
  background-color: #ffcf87;
  border: 2px dashed var(--color-black);
  box-sizing: border-box;
  width: 695px;
  height: 643px;
  flex-shrink: 0;
  padding: var(--padding-mid) var(--padding-xl);
  justify-content: center;
  text-align: justify;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-athiti);
}
.frame-1 {
  align-self: stretch;
  flex: 1;
  background-color: #fff8b8;
  border: 2px solid var(--color-black);
  padding: 48px 105px 64px;
  justify-content: flex-start;
  gap: 32px;
}
.photo-child {
  height: 82.4%;
  width: 71.53%;
  top: 0;
  right: 0;
  bottom: 17.6%;
  left: 28.47%;
  background-color: var(--color-sandybrown-100);
}
.photo-child,
.photo-inner,
.photo-item {
  position: absolute;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
}
.photo-item {
  height: 83.2%;
  width: 74.23%;
  top: 4.6%;
  right: 5.9%;
  bottom: 12.2%;
  left: 19.87%;
  background-color: var(--color-mediumorchid);
}
.photo-inner {
  height: 83.8%;
  width: 73.98%;
  top: 9.4%;
  right: 11.55%;
  bottom: 6.8%;
  left: 14.46%;
  background-color: var(--color-mediumseagreen-100);
}
.liza-photo-icon {
  position: absolute;
  height: 85.42%;
  width: 76.28%;
  top: 14.02%;
  right: 16.98%;
  bottom: 0.57%;
  left: 6.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.photo {
  position: absolute;
  top: calc(50% - 248.5px);
  left: calc(50% - 214.5px);
  width: 430px;
  height: 528px;
}
.ber-mich,
.frame-2 {
  align-self: stretch;
  flex-shrink: 0;
}
.frame-2 {
  position: relative;
  background-color: #ffc6f2;
  border-top: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 511px;
}
.ber-mich {
  height: 911px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-violet);
  font-family: var(--font-baloo-bhaina);
}
.posters-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff3db;
}
.eine-meiner-neuesten {
  align-self: stretch;
  position: relative;
}
.posters-text-holder {
  position: absolute;
  top: calc(50% - 116.5px);
  left: calc(50% - 511px);
  background-color: var(--color-white);
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 1022px;
  height: 376px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-6xl);
  align-items: center;
  justify-content: center;
}
.posters-rainbow-left,
.posters-rainbow-right {
  position: absolute;
  top: 58px;
  left: 0;
  width: 156px;
  height: 70px;
}
.posters-rainbow-right {
  top: 56px;
  left: 605px;
  height: 65px;
}
.posters2 {
  position: absolute;
  top: calc(50% - 64.5px);
  left: calc(50% - 176.5px);
  display: inline-block;
  width: 373px;
  height: 129px;
  -webkit-text-stroke: 2px #000;
}
.posters-and-rainbows {
  position: absolute;
  top: calc(50% - 293.5px);
  left: calc(50% - 380px);
  width: 761px;
  height: 129px;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-violet);
  font-family: var(--font-baloo-bhaina);
}
.posters-scroll-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #538261;
}
.posters-scroll {
  align-self: stretch;
  position: relative;
  height: 911px;
  flex-shrink: 0;
}
.gamedesign-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ddcdff;
}
.in-diesem-projekt-container1 {
  line-break: anywhere;
}
.in-diesem-projekt-container {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 496px;
  flex-shrink: 0;
}
.gamedesign-text-holder {
  position: absolute;
  top: calc(50% - 180.5px);
  left: calc(50% - 535px);
  background-color: var(--color-white);
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 1071px;
  height: 446px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-6xl);
  align-items: center;
  justify-content: center;
}
.gamedesign-cloud2-icon,
.gamedesign-cloud3-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gamedesign-cloud3-icon {
  height: 23.57%;
  width: 12.57%;
  top: 60.71%;
  right: 87.43%;
  bottom: 15.71%;
  left: 0;
}
.gamedesign-cloud2-icon {
  height: 19.29%;
  width: 10.19%;
  top: 21.43%;
  right: 27.25%;
  bottom: 59.29%;
  left: 62.57%;
}
.game-design1 {
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 305.15px);
  display: inline-block;
  width: 652.18px;
  height: 140px;
  -webkit-text-stroke: 2px #000;
}
.gamedesign-cloud1-icon {
  position: absolute;
  height: 23.57%;
  width: 12.57%;
  top: 65%;
  right: 0;
  bottom: 11.43%;
  left: 87.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gamedesign-and-clouds {
  position: absolute;
  top: calc(50% - 334.5px);
  left: calc(50% - 377px);
  width: 753.9px;
  height: 140px;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-violet);
  font-family: var(--font-baloo-bhaina);
}
.ablauf {
  position: relative;
  display: inline-block;
  width: 309px;
  height: 148px;
  flex-shrink: 0;
  -webkit-text-stroke: 2px #000;
}
.gamedesign-prozess-1,
.gamedesign-prozess-2 {
  position: relative;
  width: 485px;
  height: 442.25px;
  flex-shrink: 0;
  object-fit: cover;
}
.gamedesign-prozess-2 {
  width: 584px;
}
.images {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 61px;
}
.ich-habe-alle {
  position: relative;
  display: inline-block;
  width: 1008px;
}
.ablauf-parent,
.text1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.text1 {
  background-color: var(--color-white);
  height: 225px;
  padding: 11px 34px 44px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-athiti);
}
.ablauf-parent {
  width: 1436px;
  height: 911px;
  padding: 45px 0 0;
  gap: 24px;
}
.gamedesign-prozess-3 {
  position: relative;
  width: 946px;
  height: 770.51px;
  flex-shrink: 0;
  object-fit: cover;
}
.gamedesign-prozess-3-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--padding-51xl) 244px;
  align-items: flex-start;
  justify-content: flex-start;
}
.game-prozess,
.game-prozess-child {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 200px;
  align-self: stretch;
  flex-shrink: 0;
}
.game-prozess-child {
  height: 910px;
}
.film-scroll{
  height: 910px;
  scale: 85%;
  padding-top: 20px;
  margin-bottom: -100px;
  align-self: stretch;
  flex-shrink: 0;
}
.game-prozess {
  background-color: var(--color-white);
  height: 2733px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: #ffad6c;
  font-family: var(--font-baloo-bhaina);
}
.uxui {
  top: calc(50% - 60.75px);
  left: calc(50% - 139.5px);
  display: inline-block;
  width: 280px;
  height: 131px;
  -webkit-text-stroke: 2px #000;
}
.ui-leaf1-icon,
.ui-leaf2-icon,
.uxui {
  position: absolute;
}
.ui-leaf2-icon {
  top: calc(50% - 60.24px);
  left: calc(50% + 11.11px);
  width: 42.24px;
  height: 47.48px;
}
.ui-leaf1-icon {
  top: calc(50% - 59.43px);
  left: calc(50% - 4.21px);
  width: 25px;
  height: 46.76px;
}
.ui1-icon,
.was-ist-die {
  position: relative;
  flex-shrink: 0;
}
.ui1-icon {
  width: 780px;
  height: 673.81px;
  object-fit: cover;
}
.was-ist-die {
  align-self: stretch;
  display: flex;
  align-items: center;
  width: 383px;
}
.frame-11,
.ui1-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui1-parent {
  width: 1292px;
  height: 674px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 110px 0 0;
  box-sizing: border-box;
  gap: 38px;
  margin-top: -66px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-athiti);
}
.frame-11 {
  align-self: stretch;
  flex: 1;
  background-color: #eab78f;
  flex-direction: column;
  padding: 0 101px 0 114px;
}
.deshalb-habe-ich,
.ui2-icon {
  position: relative;
  flex-shrink: 0;
}
.deshalb-habe-ich {
  display: flex;
  align-items: center;
  width: 426px;
  height: 484px;
}
.ui2-icon {
  width: 738px;
  height: 728px;
  object-fit: cover;
}
.deshalb-habe-ich-mich-fr-eine-parent,
.ui1 {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deshalb-habe-ich-mich-fr-eine-parent {
  background-color: #f2bb7b;
  height: 912.5px;
  flex-direction: row;
  padding: var(--padding-57xl) 0 var(--padding-57xl) 128px;
  box-sizing: border-box;
  gap: 66px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-athiti);
}
.ui1 {
  height: 1822px;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: #fff6d4;
  font-family: var(--font-baloo-bhaina);
}
.typografie-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-mistyrose-100);
}
.ich-habe-meine {
  align-self: stretch;
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.typografie-text-holder {
  position: absolute;
  top: calc(50% - 53.5px);
  left: calc(50% - 511px);
  background-color: var(--color-white);
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 1022px;
  height: 258px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-6xl);
  align-items: center;
  justify-content: center;
}
.typografie-cloud-left {
  top: calc(50% + 28.5px);
  left: calc(50% - 380.09px);
}
.typografie-cloud-left,
.typografie-cloud-right {
  position: absolute;
  width: 85.24px;
  height: 33px;
}
.typografie2 {
  position: absolute;
}
.typografie-cloud-right {
  top: calc(50% + 34.5px);
  left: calc(50% + 209.39px);
}
.typografie2 {
  top: calc(50% - 67.5px);
  left: calc(50% - 294.61px);
  display: inline-block;
  width: 589.47px;
  height: 129px;
  -webkit-text-stroke: 2px #000;
}
.typografie-and-clouds {
  position: absolute;
  top: calc(50% - 239.5px);
  left: calc(50% - 317px);
  width: 714.19px;
  height: 135px;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-violet);
  font-family: var(--font-baloo-bhaina);
}
.italica-1-icon {
  width: 621.78px;
  height: 769.31px;
}
.italica-1-icon,
.italica-2-icon,
.italica-3-icon {
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.italica-2-icon {
  width: 252.12px;
  height: 384.15px;
}
.italica-3-icon {
  width: 252.12px;
  height: 349.23px;
}
.italica-2-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.coupons-text-holder,
.typografie-images {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.typografie-images {
  align-self: stretch;
  background-color: #d1e0e9;
  height: 911px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-51xl) 165px;
  gap: 87px;
}
.coupons-text-holder {
  position: absolute;
  top: calc(50% - 114.5px);
  left: calc(50% - 473px);
  background-color: var(--color-white);
  border: 1px dashed var(--color-black);
  width: 947px;
  height: 347px;
  overflow: hidden;
  flex-direction: column;
  padding: 36px var(--padding-xl) 23px;
}
.coupons-star1-icon {
  position: absolute;
  height: 28.68%;
  width: 8.37%;
  top: 26.12%;
  right: 88.6%;
  bottom: 45.2%;
  left: 3.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.coupons2 {
  position: absolute;
  top: calc(50% - 64.5px);
  left: calc(50% - 184px);
  display: inline-block;
  width: 405px;
  height: 129px;
  -webkit-text-stroke: 2px #000;
}
.coupons-star2-icon {
  position: absolute;
  height: 26.43%;
  width: 6.92%;
  top: 78.06%;
  right: -5.65%;
  bottom: -4.49%;
  left: 98.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.coupons-and-stars {
  position: absolute;
  top: calc(50% - 285.5px);
  left: calc(50% - 242px);
  width: 442px;
  height: 129px;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-violet);
  font-family: var(--font-baloo-bhaina);
}
.coupons1-icon {
  position: relative;
  width: 940px;
  height: 644.33px;
  flex-shrink: 0;
  object-fit: cover;
}
.coupons-images {
  align-self: stretch;
  height: 2733px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 250px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.d-design-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff9e3;
}
.als-ich-zum-container {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 386px;
  flex-shrink: 0;
}
.d-design-text-holder {
  position: absolute;
  top: calc(50% - 126.5px);
  left: calc(50% - 491px);
  background-color: var(--color-white);
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 1038px;
  height: 410px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mid) var(--padding-6xl) 24px;
  align-items: center;
  justify-content: center;
}
.d-design2 {
  position: absolute;
  top: calc(50% - 64.5px);
  left: calc(50% - 244px);
  display: inline-block;
  width: 488px;
  height: 129px;
  -webkit-text-stroke: 2px #000;
}
.d-design-rainbow-left {
  position: absolute;
  top: calc(50% - 5.19px);
  left: calc(50% - 432.06px);
  width: 156.06px;
  height: 70px;
}
.d-design-rainbow-right,
.d-design1 {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% + 244px);
  width: 156px;
  height: 70px;
}
.d-design1 {
  top: calc(50% - 289.5px);
  left: calc(50% - 216px);
  width: 488px;
  height: 129px;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-violet);
  font-family: var(--font-baloo-bhaina);
}
.d-design-scroll {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 911px;
  flex-shrink: 0;
}
.produktdesign-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffd8e1;
}
.in-diesem-projekt-container2 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 251px;
  flex-shrink: 0;
}
.produktdesign-text-holder {
  position: absolute;
  top: calc(50% - 83.5px);
  left: calc(50% - 517px);
  background-color: var(--color-white);
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 1033px;
  height: 265px;
  display: flex;
  flex-direction: column;
  padding: 38px var(--padding-xl) var(--padding-xl);
  align-items: center;
  justify-content: center;
}
.produktdesign2 {
  position: absolute;
  height: 86.36%;
  width: 86.57%;
  top: 0;
  left: 9.94%;
  display: inline-block;
  -webkit-text-stroke: 2px #000;
}
.produktdesign-star-left,
.produktdesign-star-right {
  position: absolute;
  height: 38.97%;
  width: 7.03%;
  top: 54.06%;
  right: 91.76%;
  bottom: 6.98%;
  left: 1.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.produktdesign-star-right {
  height: 38.65%;
  width: 7.12%;
  top: 9.38%;
  right: 1.36%;
  bottom: 51.97%;
  left: 91.52%;
}
.produktdesign-and-stars {
  position: absolute;
  top: calc(50% - 273.5px);
  left: calc(50% - 401px);
  width: 802.86px;
  height: 148.22px;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: #ff90d3;
  font-family: var(--font-baloo-bhaina);
}
.produktdesign-1-icon {
  width: 375px;
  height: 341px;
}
.produktdesign-1-icon,
.produktdesign-2-icon,
.produktdesign-3-icon {
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.produktdesign-2-icon {
  width: 342px;
  height: 337px;
}
.produktdesign-3-icon {
  height: 337px;
  width: 483px;
}
.produktdesign-1-parent {
  background-color: var(--color-white);
  height: 455.5px;
  flex-direction: row;
  padding: var(--padding-12xl) var(--padding-2xl) 0;
  box-sizing: border-box;
  gap: var(--gap-39xl);
}
.produktdesign-1-parent,
.produktdesign-4-parent,
.produktdesign-images {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.produktdesign-4-parent {
  background-color: var(--color-white);
  height: 455.5px;
  flex-direction: row;
  padding: var(--padding-12xl) var(--padding-2xl) 0;
  box-sizing: border-box;
  gap: var(--gap-39xl);
  margin-top: -42px;
}
.produktdesign-images {
  height: 911px;
  flex-direction: column;
}
.illustrationen-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fbe6c7;
}
.illustrationen-text-holder {
  position: absolute;
  top: calc(50% - 112.5px);
  left: calc(50% - 518px);
  background-color: var(--color-white);
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 1035px;
  height: 343px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mid) var(--padding-xl);
  align-items: center;
  justify-content: center;
}
.illustrationen2 {
  position: absolute;
  top: calc(50% - 78.5px);
  left: calc(50% - 332.5px);
  display: inline-block;
  width: 654px;
  height: 128px;
  -webkit-text-stroke: 2px #000;
}
.illustrationen-flower3-icon {
  position: absolute;
  top: 5px;
  left: 329px;
  width: 98px;
  height: 98px;
}
.illustrationen-flower2-icon {
  position: absolute;
  top: 74px;
  left: 582px;
  width: 83px;
  height: 83px;
}
.illustrationen-flower1-icon {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 74px;
  height: 74px;
}
.illustrationen-text-and-flower {
  position: absolute;
  top: calc(50% - 287.5px);
  left: calc(50% - 333px);
  width: 665px;
  height: 157px;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: #77cc8a;
  font-family: var(--font-baloo-bhaina);
}
.illustrationen-scroll-backgrou {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.fotoset-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c9e2ff;
}
.random-acts-of {
  text-decoration: underline;
}
.random-acts-of-kindness {
  color: inherit;
}
.fotoset-text-holder {
  position: absolute;
  top: calc(50% - 117.5px);
  left: calc(50% - 507px);
  background-color: var(--color-white);
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 1014px;
  height: 335px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mid) var(--padding-xl);
  align-items: center;
  justify-content: center;
}
.fotoshooting2 {
  position: absolute;
  top: -13.28%;
  left: calc(50% - 308.29px);
  -webkit-text-stroke: 2px #000;
}
.fotos-camera-left,
.fotos-camera-right {
  position: absolute;
  top: 47px;
  left: 13px;
  width: 77.41px;
  height: 53.58px;
}
.fotos-camera-right {
  left: 761px;
  width: 78.4px;
  height: 54.26px;
}
.fotoset-and-cameras {
  position: absolute;
  top: calc(50% - 278.5px);
  left: calc(50% - 424px);
  width: 849px;
  height: 128px;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: #70bde9;
  font-family: var(--font-baloo-bhaina);
}
.fotoset-scroll,
.fotoshooting1 {
  position: relative;
  height: 911px;
  flex-shrink: 0;
}
.fotoshooting1 {
  width: 100%;
  color: inherit;
}
.fotoset-scroll {
  align-self: stretch;
  background-color: var(--color-white);
  mix-blend-mode: normal;
}
.film2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-palegoldenrod-100);
}
.posters-rainbow-left1 {
  position: absolute;
  top: 43px;
  left: 102px;
  width: 184px;
  height: 100px;
}
.posters-rainbow-right1 {
  position: absolute;
  top: 63px;
  left: 504px;
  width: 156px;
  height: 65px;
}
.film-title,
.film3 {
  position: absolute;
  height: 129px;
}
.film3 {
  top: calc(50% - 64.5px);
  left: calc(50% - 99.5px);
  display: inline-block;
  width: 200px;
  -webkit-text-stroke: 2px #000;
}
.film-title {
  top: calc(50% - 293.5px);
  left: calc(50% - 380px);
  width: 761px;
  text-align: left;
  font-size: var(--font-size-81xl);
  color: var(--color-palevioletred);
  font-family: var(--font-baloo-bhaina);
}
.kontakt-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -0.03%;
  bottom: 0;
  left: 0.03%;
  background-color: var(--color-violet);
}
.kontakt-clouds-icon {
  position: absolute;
  width: 84.24%;
  right: 7.78%;
  bottom: 58.53px;
  left: 7.99%;
  max-width: 100%;
  overflow: hidden;
  height: 403.47px;
}
.kontaktinfo {
  position: absolute;
  height: 59.45%;
  width: 100%;
  top: 6.58%;
  left: 2.12%;
  display: inline-block;
  -webkit-text-stroke: 2px #000;
}
.elizavetaberchgmailcom-49171 {
  line-break: anywhere;
  width: 100%;
}
.elizavetaberchgmailcom-4917 {
  position: absolute;
  height: 44.7%;
  width: 82.71%;
  top: 45.68%;
  left: 8.78%;
  font-size: 30px;
  font-family: var(--font-athiti);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: flex-end;
}
.kontakt-text {
  position: absolute;
  top: 115.51px;
  left: calc(50% - 226.58px);
  width: 451px;
  height: 250.65px;
}
.kontakt,
.test {
  position: relative;
}
.kontakt {
  align-self: stretch;
  height: 514px;
  flex-shrink: 0;
  text-align: left;
  font-size: 80px;
  color: var(--color-goldenrod);
  font-family: var(--font-baloo-bhaina);
}
.test {
  background-color: var(--color-white);
  width: 100%;
  height: 24200px;
  display: flex;
  flex-direction: column;
  padding: 0 0 222px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-athiti);
}


#myBtn {
  scale: 90%;
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  position: fixed; /* Fixed/sticky position */
  display: none; /* Hidden by default */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  background-color: #ffffff00; /* Set a background color */
  border: none;
}

#myBtn:hover {
  color: #ffc553;
  background-color: #ffffff00; /* Add a dark-grey background on hover */
}
